name: Compile LaTeX

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    container: danteev/texlive:latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Compile LaTeX
        run: make

      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          name: oop-handbook
          path: bin/oop-handbook.pdf
